*.o
*.la
*.lo
.deps
.libs
Makefile
build-stamp
config.guess
config.h
config.log
config.status
config.sub
debian/files
debian/libgcrypt11-dev.debhelper.log
debian/libgcrypt11-dev.install
debian/libgcrypt11-dev.substvars
debian/libgcrypt11-dev/
debian/libgcrypt11.debhelper.log
debian/libgcrypt11.install
debian/libgcrypt11.postinst.debhelper
debian/libgcrypt11.postrm.debhelper
debian/libgcrypt11.substvars
debian/libgcrypt11/
debian/tmp/
libtool
mpi/asm-syntax.h
mpi/mod-source-info.h
mpi/mpi-asm-defs.h
mpi/mpih-add1.c
mpi/mpih-lshift.c
mpi/mpih-mul1.c
mpi/mpih-mul2.c
mpi/mpih-mul3.c
mpi/mpih-rshift.c
mpi/mpih-sub1.c
mpi/sysdep.h
src/dumpsexp
src/hmac256
src/libgcrypt-config
src/versioninfo.rc
stamp-h1
tests/ac
tests/ac-data
tests/ac-schemes
tests/basic
tests/benchmark
tests/fips186-dsa
tests/fipsdrv
tests/hmac
tests/keygen
tests/keygrip
tests/mpitests
tests/prime
tests/pubkey
tests/random
tests/register
tests/t-mpi-bit
tests/tsexp
tests/version
